.user-msg {
    position: absolute;
    top: 8vh;
    right: 3em;
    width: 250px;
    padding: 3px 10px;
    border-radius: 6px;
    font-size: 1.125rem;
}

.success {
    background-color: #19536c;
    color: white;
}

.fail {
    background-color: #19536c;
    color: white;
}